@import url("./cdn.css");
@import url("./awesome.css");
@import url("./pricing.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', 'Raleway', sans-serif;
    color: #333333;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}

.title {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    max-width: 670px;
    margin: 0 auto 34px;
    text-align: center;
    text-transform: uppercase;
}

.line {
    margin: 0 auto 34px;
    width: 64px;
    border: 1px solid #E72424;
}
