.tab {
    /* display: none; */
    padding: 125px 0;
    background-color: white;
}
.tab-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tab-btn__wrap {
    width: 112px;
}
.tab-btn {
    width: 112px;
    height: 110px;
    border: none;
    background: #EC7979;
    border-radius: 4px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    /* line-height: 110px; */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.tab-btn:last-child {
    margin-bottom: 0;
}
.tab-content__city, .tab-content__bike, .tab-content__car {
    width: 972px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tab-city__wrap {
}
.tab-title {
    width: 408px;   
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 58px;
}
.tab-description {
    width: 572px;
    margin-bottom: 80px;
}
.tab-description p:last-child {
    margin-bottom: 0;
}
.tab-description p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #86878B;
    margin-bottom: 28px;
}
.tab-link {
    display: block;
    width: 135px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    background: #EC7979;
    border: 1px solid #EC7979;
    transition: .3s;
}
.tab-link:hover {
    color: #EC7979;
    background: #FFFFFF;
    border: 1px solid #EC7979;
}
.tab-img {
}
.tab-content__bike {
    display: none;
}

.tab-content__car {
    display: none;
}
.tab-img__car {
    width: 320px;
    height: 253px;
}
.tab-img__car img {
    width: 100%;
    height: 100%;
}